/** @format */

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.conatainer {
   max-width: 1230px;
   width: 100%;
   padding: 0 10px;
   margin: 0 auto;
}

.nav_card {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
}

.text {
   font-weight: 800;
   font-size: 24px;
   line-height: 33px;

   color: #111517;
}

.btn {
   font-weight: 600;
   font-size: 16px;
   line-height: 22px;

   color: #111517;
   padding: 8px 15px;
}

.navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
}

#search {
   padding: 5px;
   width: 500px;
   height: 40px;
}

#filter {
   padding: 12px;
}

/* -----------------main----------- */

.section {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
}

.card {
   display: flex;
   flex-wrap: wrap;
   width: 25%;
}

.Contary {
   text-align: center;
   font-size: 24px;
}

.img {
   width: 300px;
   height: 300px;
}
